
html {
    --bg-color: #FEFEFE;
    /* --bg-color: black; */
    --txt-color: #acabab;
    --game-color: linear-gradient(90deg, rgba(204,204,204,1) 50%, rgba(254,254,254,1) 85%);
    --cell-color: #FFFFFF;
    --player-one-color: #ef4444;
    --player-two-color: #29c2fe;
    height: 100%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    gap: 50px;
}

/* HEADER */
header {
    background-color: var(--bg-color);
    height: 15%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* MAIN */
main {
    /* background-color: var(--bg-color); */
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

/* INFO CONTAINER */
.game-info {
    color: var(--txt-color);
    width: 75%;
    height: 100px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.player-one,
.player-two {
    width: 170px;
    font-size: 2rem;
    border-radius: 10px;

    transition: 0.25s;
}

.player-one {
    border: 0px solid var(--player-one-color);
}

.player-one.active-player {
    border-bottom: 5px solid var(--player-one-color);
}

.player-two.active-player {
    border-bottom: 5px solid var(--player-two-color);
}

.info-board {
    font-size: 1.2rem;
    text-align: center;
    width: 590px;
}

select {
    appearance: none;
    font-family: inherit;
    text-align: center;
    color: var(--txt-color);
    background-color: var(--bg-color);
    border: 1px solid black;
    line-height: 1.2;
    padding: 0 5px 0 5px;
    
    cursor: pointer;
    /* box-sizing: border-box; */
}

select:focus {
    outline: var(--player-two-color);
    border: 2px solid var(--player-two-color);
}

/* GAME CONTAINER */
.game-container {
    background-image: var(--game-color);
    background-size: 300%;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 15px;

    animation-duration: 3s;
    animation-name: reveal-board;
    animation-fill-mode: forwards;

}

@keyframes reveal-board {
    from {background-position: right;}
    to {background-position: left;}
}



.game-cell {
    background-color: var(--cell-color);
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: grab;
}

.X,
.O {
    font-size: 8.5rem;
}

.X.active {
    animation-name: reveal-X;
    color: var(--player-one-color);
}
.O.active {
    animation-name: reveal-O;
    color: var(--player-two-color);
}

.inactive {
    display: none;
}

.active {
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes reveal-X {
    from {color: var(--cell-color);}
    to {color: var(--player-one-color);}
}

@keyframes reveal-O {
    from {color: var(--cell-color);}
    to {color: var(--player-two-color);}
}

/* BUTTONS */

button {
    background-color: var(--cell-color);
    color: var(--txt-color);
    font-family: inherit;
    font-size: 2rem;
    border: none;
    transition: 0.25s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
